<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ToDo</title>
    {% load static %}
    <script src="{% static 'tasks/jquery-3.4.1.min.js'%}"></script>
    <script src="{% static 'tasks/bootstrap/js/bootstrap.min.js' %}"></script>
    <link href="{% static 'tasks/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />
    <script src="{% static 'tasks/todo.js'%}"></script>
    <link href="{% static 'tasks/style.css' %}" rel="stylesheet" />
</head>
<body class="bg-info">
    <div class="container mt-5">
        <div class="card">
            <center>
                <h1 class="font-italic font-weight-bold mt-3">ToDo List </h1>
                <div class="d-inline-flex mb-3">
                    <div class="card ml-2" >
                        <div class="card-header" id="activeheader"><h5 class="text-light font-weight-bold">ACTIVE</h5></div>
                        <div ondrop="dropped(event)" ondragover="overdrag(event)" id="active" class="card-body bg-light"></div>
                    </div>
                    <div class="card ml-2">
                        <div class="card-header" id="doingheader"><h5 class="text-light font-weight-bold">DOING</h5></div>
                        <div ondrop="dropped(event)" ondragover="overdrag(event)" id="doing" class="card-body bg-light"></div>
                    </div>
                    <div class="card ml-2">
                        <div class="card-header bg bg-secondary"><h5 class="text-light font-weight-bold">DONE</h5></div>
                        <div ondrop="dropped(event)" ondragover="overdrag(event)" id="done" class="card-body bg-light"></div>
                    </div>
                </div>
                <div class=" col-4">
                <div class="container form-group ">
                    <input type="text" id="task" class="form-control" placeholder="Enter the title of task" onkeyup="changeButton(event)">
                </div>
                <button id="add" class="btn btn-primary" onclick="addTask()" disabled >Add</button>
                </div>
            </center>

            {% if page_obj%}
                <ul>
                {% for task in page_obj %}
                   <div  draggable='true'  ondragend="enddrag(event)" ondragstart="startdrag(event)" scope='row' class='status status-{{task.status}} card' id="{{task.id}}" style="display:none">
                       <strong>{{ task.title }}</strong>
                       <p class="text-primary">{{ task.pub_date}}</p>
                   </div >
                {% endfor %}
                </ul>
            {% else %}
                <p>No tasks are available.</p>
            {% endif %}
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
</body>