*{
    padding:0;
    margin: 0;
}

#active, #doing, #done{
    width: 30%;
    min-height: 500px;
    overflow-y: auto;
    margin: 20px ;
    -webkit-box-flex:1;
    text-align: center;

}
img:hover{
    transform: scale(2) rotate(360deg);

}
.header{
    width:90%;
    height:50px;
    border-radius: 20px;
    text-align:center;
    padding :10px ;
    font: 20px tahoma;
}
.order{
    width:90%;
    height:40px;
    border-radius: 20px;
    text-align:center;
    padding :10px ;
    font: 20px tahoma;
    margin-top:10px;
}

